.container-fluid
  .row
    .col
      
    .col
      = simple_form_for :sessions, { url: login_path, method: :post } do |f|
        = f.input :email, input_html: { name: "email" } 
        = f.input :password, input_html: { name: "password" } 
        = f.button :submit