%table.table.table-hover.table-bordered.table_box.table-responsive-md
  %thead
    %tr.d-flex
      %th.col-10= admin_label('email')
      %th.col-2= t('simple_form.labels.actions')
  %tbody
    - resources.each do |resource|
      %tr.d-flex{ data: { id: resource.id } }
        %td.col-10= resource.email
        %td.col-2
          = render partial: 'list_actions', locals: { resource: resource }