.wrapper.container-fluid.mt-5
  .row.justify-content-center.align-items-center.flex-column
    %ul.nav.nav-pills.nav-fill
      %li.nav-item
        %span.nav-link Formularz
      %li.nav-item
        %span.nav-link Podgląd
      %li.nav-item
        %span.nav-link.active Płatność
      %li.nav-item
        %span.nav-link Potwierdzenie