.wrapper.container-fluid.mt-5
  .row
    .col.col-6
      #map
    .col.col-6
      - @layout_jobs.group_by(&:category).each do |category, jobs|
        %h3= category.name
        %ul.list-unstyled.home_jobs--list
          - jobs.each do |job|
            %li
              = render job, locals: {job: job}
#modal-window.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog"}
  .modal-dialog{:role => "document"}
    .modal-content
