.nested-fields
  .row
    .nested-fields_inputs
      .row
        = f.input :technology_id, as: :select, collection: Technology.all
        = f.input :rating
    .nested-fields_nav
      = link_to_remove_association "Usuń sekcje", f, class: 'btn btn-danger'
