%table.table.table-hover.table-bordered.table_box
  %thead
    %tr
      %th= admin_label('title')
      %th.col-300.actions= t('simple_form.labels.actions')
  %tbody
    - resources.each do |resource|
      %tr{ data: { id: resource.id } }
        %td= resource.name
        %td.actions.col-300
          = render partial: 'list_actions', locals: { resource: resource }