= simple_form_for([:admin, resource], url: resource.persisted? ? resource_path(resource.id) : resources_path, html: { class: 'form-horizontal', id: admin_form_id }) do |f|
  .form-inputs
    %fieldset
      %legend Podstawowe dane

      = f.input :name

  .form-actions
    = f.button :submit