!!!
%html
  %head
    = render 'shared/head', css_file: 'admin', js_file: 'admin'
  %body
    .row.h-100
      .col-2.bg-primary.mr-5.h-100
        .navbar-brand
          = link_to('JobList', '', class: 'text-white')
        #v-pills-tab.nav.flex-column.nav-pills.text-white{"aria-orientation" => "vertical", :role => "tablist"}
          %a#v-pills-employees-tab.nav-link.text-white{"aria-controls" => "v-pills-employees", "aria-selected" => "true", "data-toggle" => "pill", :href => "#v-pills-employees-tab", :role => "tab"} Employees
          %a#v-pills-users-tab.nav-link.text-white{"aria-controls" => "v-pills-users", "aria-selected" => "false", "data-toggle" => "pill", :href => "#v-pills-users", :role => "tab"} Users
          %a#v-pills-technologies-tab.nav-link.text-white{"aria-controls" => "v-pills-technologies", "aria-selected" => "false", "data-toggle" => "pill", :href => "#v-pills-technologies", :role => "tab"} Technologies
          %a#v-pills-categories-tab.nav-link.text-white{"aria-controls" => "v-pills-categories", "aria-selected" => "false", "data-toggle" => "pill", :href => "#v-pills-categories", :role => "tab"} Categories
          %a#v-pills-jobs-tab.nav-link.text-white{"aria-controls" => "v-pills-jobs", "aria-selected" => "false", "data-toggle" => "pill", :href => "#v-pills-jobs", :role => "tab"} Jobs
      .col-8.pt-5
        %main
          = yield